* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0f172a;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar ul li a {
  text-decoration: none;
  color: #cbd5f5;
  font-size: 14px;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn {
  padding: 10px 18px;
  border: 1px solid #3b82f6;
  border-radius: 10px;
  color: #3b82f6;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(15,23,42,0.7), rgba(15,23,42,0.7)),
              url('../images/perpustakaan.jpg') no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 14px;
  color: #cbd5f5;
  margin-bottom: 30px;
}

/* SEARCH */
.search-box {
  display: flex;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  width: 600px;
}

.search-box select,
.search-box input {
  border: none;
  padding: 15px;
  outline: none;
}

.search-box select {
  background: #f1f5f9;
}

.search-box input {
  flex: 1;
}

.search-box button {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 0 20px;
  cursor: pointer;
}